[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
matplotlib = "*"
v = {editable = true,version = "*"}

[packages]
datasets = "*"
pandas = "*"
ipython = "*"

[requires]
python_version = "3.6"
